a:hover {
	background-color: yellow;
}

#one{
	width: 600px;
	height: 150px;
	position: fixed; /* or absolute */
	top: 15%;
	left: 20%;
	background: lightgrey;
	-webkit-transition: width 3s, height 3s, -webkit-transform 3s; /* Safari */
	transition: width 3s, height 3s, transform 3s;
}

#one:hover{
	background: red;
	width: 600px;
	height: 150px;
	top: 15%;
	left: 20%;
	-webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg);
}

#two{
	width: 600px;
	height: 150px;
	position: fixed;
	top: 40%;
	left: 20%;
}

.three{
	background: lightyellow;
	width: 600px;
	height: 150px;
	position: fixed;
	top: 60%;
	left: 20%;
}

.three:hover{
	-webkit-transform: rotate(-360deg);
	background: red;
	border-radius: 50px;
	width: 300px;
	height: 150px;
	position: fixed;
}

.three {
  -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.three:hover {
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

